<!-- <h1>Register</h1>

<div>name: <input [(ngModel)]="registerModel.name" /></div>
<div>email: <input [(ngModel)]="registerModel.email" /></div>
<div>password: <input [(ngModel)]="registerModel.password" /></div>
<div>phone: <input [(ngModel)]="registerModel.phone" /></div>
<button (click)="register(registerModel)">Register</button>

<h1>Login</h1>

<div>email: <input [(ngModel)]="loginModel.email" /></div>
<div>password: <input [(ngModel)]="loginModel.password" /></div>
<button (click)="login(loginModel)">Login</button>   -->


<!-- <app-register></app-register> -->

<!-- <app-login></app-login> -->


<router-outlet></router-outlet>

<!-- <app-profile></app-profile> -->