
<!-- <app-register></app-register> -->

<!-- <app-login></app-login> -->

<div class="container" *ngIf="authService.isAuthenticated()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand m-2" href="#">IntiBank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" routerLink="/profile">Cuentas</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/loan">Préstamos</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Transferencias</a>
            </li>
        </ul>
        </div>
    </nav>
</div>
  
<router-outlet></router-outlet>

<!-- <app-profile></app-profile> -->