<section>
  <div class="container py-5">
    <div class="row shadow-sm px-3 py-5 bg-white rounded">
      <div class="col-4">
        <div class="avatar-icon">
          <img src="../../../assets/account-icon-png-2.jpg" alt="avatar-icon">
        </div>
      </div>
      <div class="col mt-4">
        <div class="row">
          <div class="col-3">
            <p class="mb-0">Nombre</p>
          </div>
          <div class="col-9">
            <p class="text-muted mb-0">{{ userProfile?.name }}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-9">
            <p class="text-muted mb-0">{{ userProfile?.email }}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-3">
            <p class="mb-0">Teléfono</p>
          </div>
          <div class="col-9">
            <p class="text-muted mb-0">{{ userProfile?.phone }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<app-accounts></app-accounts>

<div class="container">
  <div class="row mb-5">
    <button class="logout" (click)="onLogoutClick()" routerLink="/login">Salir</button>
  </div>
</div>
